/* ////////////////////////////////////////////////////  BLOCK SLIDER START  ////////////////////////////////////////////////////// */

body #main .slider-section {
    padding: 0;
    margin: 0;
    position: relative;
    width: 380px;
    margin: 120px auto 160px auto;
    perspective: 1000px;
    padding-top: 120px;
    /* background-color: blueviolet; */
}

body #main .slider-section .rotator {
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    margin: auto;
    width: 55%;
    height: 150px;
    transform-style: preserve-3d;
    animation: roter 25s linear infinite;
}

@keyframes roter {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

body #main .slider-section .rotator:hover {
    animation-play-state: paused;
}

body #main .slider-section .rotator .items {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 1px solid #9e9e9e;
    box-shadow: 0px 0px 2px 3px #f3f3f3;
}


body #main .slider-section .rotator .items img {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 3s ease;
    transition: transform 1s;
}

body #main .slider-section .rotator .items img:hover {
    /* transform: scale(1.5); */
    transform: scale(1.2);
    transition: all 1s ease;
}


/* body #main .page-general .slider .rotator .items .block-text-slaider {
    height: 20%;
    width: 100%;
    background-image: url("../images/icons/arrow-30-256.png");
} */

body #main .slider-section .rotator .items .text-slaider {
    position: absolute;
    margin-top: -22px;
    left: 0;
    width: 100%;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #585858;
    text-transform: uppercase;
    text-align: center;
    top: 40px;
}

body #main .slider-section .rotator .items:first-child {
    transform: rotateY(calc(40deg * 1)) translateZ(300px);
}

body #main .slider-section .rotator .items:nth-child(2) {
    transform: rotateY(calc(40deg * 2)) translateZ(300px);
}

body #main .slider-section .rotator .items:nth-child(3) {
    transform: rotateY(calc(40deg * 3)) translateZ(300px);
}

body #main .slider-section .rotator .items:nth-child(4) {
    transform: rotateY(calc(40deg * 4)) translateZ(300px);
}

body #main .slider-section .rotator .items:nth-child(5) {
    transform: rotateY(calc(40deg * 5)) translateZ(300px);
}

body #main .slider-section .rotator .items:nth-child(6) {
    transform: rotateY(calc(40deg * 6)) translateZ(300px);
}

body #main .slider-section .rotator .items:nth-child(7) {
    transform: rotateY(calc(40deg * 7)) translateZ(300px);
}

body #main .slider-section .rotator .items:nth-child(8) {
    transform: rotateY(calc(40deg * 8)) translateZ(300px);
}

body #main .slider-section .rotator .items:nth-child(9) {
    transform: rotateY(calc(40deg * 9)) translateZ(300px);
}


/* /////////////////////////////  BLOCK SLIDER END  /////////////////////////////// */